@charset "utf-8";
/* CSS Document */

body
{
margin:0px;
padding:0px;
background-color: #e1e1e1;
}
*
{
margin:0px;
padding:0px;
}
img
{
border:0px;
}
p
{
margin:7px 0px;
text-align:justify;
}
.clear
{
clear:both;
height:0px;
}
#container
{
width:100%;
height:auto;
float:left;
text-align:center;
background:url(../images/container-bg.jpg) center top repeat-y;
margin-bottom:58px;
}
.container-main
{
	width:960px;
	height:auto;
	margin:0px auto;
	text-align:center;
}
#header
{
	width:960px;
	height:117px;
	float:left;
	text-align:left;
	background:url(../images/bar-bg.jpg) left bottom repeat-x;
}
.header-left
{
	width:450px;
	height:93px;
	float:left;
	text-align:left;
	padding-top:24px;
	font-size:14px;
	line-height:16px;
	color: #555555;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.header-left h2
{
	font-size:45px;
	line-height:47px;
	color: #222222;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
.header-right
{
	width:450px;
	height:102px;
	float:right;
	text-align:right;
	padding-top:15px;
	font-size:11px;
	line-height:20px;
	color: #999999;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.header-right a
{
	font-size:11px;
	line-height:20px;
	color: #0099ff;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.header-right a:hover
{
	font-size:11px;
	line-height:20px;
	color: #ff6801;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.header-right h2
{
	font-size:30px;
	line-height:36px;
	color: #0099ff;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
	
#body-main
{
	width:960px;
	height:auto;
	float:left;
	text-align:left;
	padding-top:8px;
	padding-bottom:30px;
}
.welcome-box
{
	width:960px;
	height: auto;
	float:left;
	text-align:left;
	background:url(../images/bar-bg.jpg) left bottom repeat-x;
	padding-bottom:11px;
}
.welcome-left-box
{
	width:350px;
	height:382px;
	float:left;
	text-align:left;
	background:url(../images/welcome-left-bg.jpg) left top no-repeat;
	padding:40px 20px 0px 260px;
	color: #FFF;
}
.subnva
{
	width:350px;
	height:auto;
	float:left;
	text-align:left;
	padding-top:5px;
}
.subnav ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.subnav ul li
{
	width:319px;
	height:40px;
	float:left;
	text-align:left;
	display:block;
	background:url(../images/right-arrow.jpg) left center no-repeat;
	font-size:18px;
	line-height:40px;
	color: #FFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:31px;
	text-transform:uppercase;
}
.form-box
{
	width:320px;
	height:422px;
	float:right;
	text-align:left;
	background-color: #ff6801;
}
.form-title-box
{
	width:264px;
	height:63px;
	float:left;
	text-align:center;
	padding:22px 28px 0px 28px;
}
.form-title
{
	width:264px;
	height:62px;
	float:left;
	text-align:center;
	border-bottom:1px dashed #FFF;
	font-size:11px;
	font-weight:bold;
	line-height:14px;
	font-family:Arial, Helvetica, sans-serif;
	color: #FFF;
}
.form-title h2
{
	font-size:34px;
	font-weight:bold;
	line-height:38px;
	font-family:Arial, Helvetica, sans-serif;
	color: #FFF;
	text-shadow:1px 1px 1px #da5a03;
}
.form-inside-box
{
	width:282px;
	height:auto;
	float:left;
	text-align:right;
	padding:20px 28px 0px 10px;
	font-size:12px;
	line-height:32px;
	color: #FFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.form-inside-box p
{
	margin:6px 0px;
	text-align:right;
}
.input-box
{
width:183px;
height:24px;
font-size:14px;
line-height:24px;
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#555555;
padding-left:10px;
padding-top:4px;
padding-bottom:2px;
background-color: #FFF;
border:1px solid #ea5f01;
margin-left:6px;
}
.massage
{
width:183px;
height:71px;
font-size:12px;
line-height:18px;
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
color:#555555;
padding:5px;
background-color: #FFF;
border:1px solid #ea5f01;
margin-left:6px;
}
.form-bottom-box
{
	width:320px;
	height:auto;
	float:left;
	text-align:center;
	font-size:11px;
	line-height:14px;
	color: #FFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:15px;
}
.who-we-are-box
{
	width:960px;
	height:auto;
	float:left;
	text-align:left;
	padding:24px 0px 26px 0px;
}
.we-are-bg
{
	float:left;
	margin-right:24px;
	padding:3px;
	border:1px solid #dddddd;
}
.work-box
{
	width:920px;
	height:auto;
	float:left;
	text-align:left;
	background-color: #f1f1f1;
	border:1px solid #dddddd;
	padding:24px 19px 22px 19px;
}
.work-left-box
{
	width:580px;
	height:auto;
	float:left;
	text-align:left;
}
.work
{
	width:580px;
	height:auto;
	float:left;
	text-align:left;
	padding-top:8px;
}
.work ul
{
	margin:0px;
	padding:0px;
	list-style-type: none;
}
.work ul li
{
	width:555px;
	height:32px;
	float:left;
	text-align:left;
	display:block;
	background:url(../images/arrow-th.jpg) left center no-repeat;
	padding-left:25px;
	font-size:14px;
	line-height:25px;
	color: #555555;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
}
.work-right-box
{
	width:292px;
	height:auto;
	float:right;
	text-align:left;
}
.work-bg
{
	padding:4px;
	background-color: #FFF;
	border:1px solid #dddddd;
}
.testimonial-box
{
	width:960px;
	height:auto;
	float:left;
	text-align:left;
	padding:24px 0px 22px 0px;
}
.testimonial
{
	width:960px;
	height:auto;
	float:left;
	text-align:left;
	padding:24px 0px;
	border-bottom:1px dashed #bfbfbf;
}
.testimonial ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.testimonial ul li
{
	width:450px;
	height:auto;
	float:left;
	text-align:left;
	display:block;
	margin-right:60px;
	font-style:italic;
}
.testimonial-th
{
	float:left;
	padding:4px;
	border:1px solid #dddddd;
	margin-right:20px;
}
.body-bottom-box
{
	width:960px;
	height:auto;
	float:left;
	text-align:center;
}
#footer
{
	width:920px;
	height: auto;
	float:left;
	text-align:center;
	background: url(../images/footer-bg.jpg) left top no-repeat;
	font-size:14px;
	line-height:24px;
	color: #555555;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:26px 20px 26px 20px;
}
#footer a
{
	font-size:14px;
	line-height:24px;
	color: #0099ff;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}
#footer a:hover
{
	font-size:14px;
	line-height:24px;
	color: #ff6801;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
}

/* CSS Text Document */
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight:normal;
	font-variant: normal;
	text-transform: none;
	color: #555555;
	text-decoration: none;
}
body a
{
	color: #0099ff;
	text-decoration: none;
}
body a:hover
{
	color: #ff6801;
	text-decoration: none;
}
h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	line-height:48px;
	color: #FFF;
	font-weight:bold;
	font-style:normal;
	font-variant:normal;
	text-shadow:1px 1px 1px #4768ad;
	text-transform:uppercase;
	}
h2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:36px;
	line-height:40px;
	color: #222222;
	font-weight:normal;
	font-style:normal;
	font-variant:normal;
	}
.qw {
	color: #903;
}
